html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1077px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #C0C9C8;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -44px;
}

#pu93
{
	width: 0.01px;
	position: relative;
}

#u93
{
	z-index: 2;
	width: 960px;
	margin-right: -10000px;
}

#menuu2453
{
	z-index: 4;
	width: 809px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 138px;
}

#u2492
{
	width: 159px;
	min-height: 9px;
	padding-bottom: 38px;
	margin-right: -10000px;
}

#u2493
{
	width: 112px;
	padding-bottom: 26px;
}

#u2493:hover
{
	margin: 0px;
}

#u2493:active
{
	margin: 0px;
}

#u2496-4
{
	width: 89px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2493:hover #u2496-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2493:active #u2496-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2495
{
	z-index: 11;
	width: 23px;
	height: 21px;
	background-image: url("../images/triangulo2-u2495-fr.png");
	margin-right: -10000px;
	top: 13px;
	left: 89px;
}

#u2493:hover #u2495
{
	margin: 0px -10000px 0px 0px;
}

#u2493:active #u2495
{
	margin: 0px -10000px 0px 0px;
}

#u2497
{
	width: 159px;
	top: 47px;
}

#u2498
{
	width: 159px;
}

#u5190
{
	width: 159px;
}

#u5191
{
	width: 157px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u5191:hover
{
	width: 157px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5191.MuseMenuActive
{
	width: 157px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5193-4
{
	width: 149px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u2485
{
	width: 113px;
	min-height: 47px;
	margin-right: -10000px;
	left: 114px;
}

#u2488
{
	width: 113px;
	padding-bottom: 28px;
}

#u2493.MuseMenuActive,#u2498:hover,#u2488:hover
{
	margin: 0px;
}

#u2488:active
{
	margin: 0px;
}

#u2491-4
{
	width: 113px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2493.MuseMenuActive #u2496-4,#u2488:hover #u2491-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2488:active #u2491-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2461
{
	width: 113px;
	min-height: 47px;
	margin-right: -10000px;
	left: 229px;
}

#u2464
{
	width: 113px;
	padding-bottom: 28px;
}

#u2488.MuseMenuActive,#u2464:hover
{
	margin: 0px;
}

#u2464:active
{
	margin: 0px;
}

#u2466-4
{
	width: 113px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2488.MuseMenuActive #u2491-4,#u2464:hover #u2466-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2464:active #u2466-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2454
{
	width: 113px;
	min-height: 47px;
	margin-right: -10000px;
	left: 344px;
}

#u2455
{
	width: 113px;
	padding-bottom: 28px;
}

#u2464.MuseMenuActive,#u2455:hover
{
	margin: 0px;
}

#u2455:active
{
	margin: 0px;
}

#u2458-4
{
	width: 113px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2464.MuseMenuActive #u2466-4,#u2455:hover #u2458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2455:active #u2458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2499
{
	width: 113px;
	min-height: 47px;
	margin-right: -10000px;
	left: 459px;
}

#u2500
{
	width: 113px;
	padding-bottom: 28px;
}

#u2455.MuseMenuActive,#u2500:hover
{
	margin: 0px;
}

#u2500:active
{
	margin: 0px;
}

#u2503-4
{
	width: 113px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2455.MuseMenuActive #u2458-4,#u2500:hover #u2503-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2500:active #u2503-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2520
{
	width: 165px;
	min-height: 15px;
	padding-bottom: 32px;
	margin-right: -10000px;
	left: 574px;
}

#u2523
{
	width: 113px;
	padding-bottom: 26px;
}

#u2500.MuseMenuActive,#u2523:hover
{
	margin: 0px;
}

#u2523:active
{
	margin: 0px;
}

#u2526-4
{
	width: 90px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2500.MuseMenuActive #u2503-4,#u2523:hover #u2526-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2523:active #u2526-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2525
{
	z-index: 50;
	width: 23px;
	height: 21px;
	background-image: url("../images/triangulo2-u2495-fr.png");
	margin-right: -10000px;
	top: 13px;
	left: 90px;
}

#u2493.MuseMenuActive #u2495,#u2523:hover #u2525
{
	margin: 0px -10000px 0px 0px;
}

#u2523:active #u2525
{
	margin: 0px -10000px 0px 0px;
}

#u2521
{
	width: 165px;
	top: 47px;
}

#u2522,#u2563
{
	width: 165px;
}

#u2564
{
	width: 163px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u2564:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2564.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2566-4
{
	width: 155px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u2527
{
	width: 120px;
	min-height: 15px;
	padding-bottom: 32px;
	margin-right: -10000px;
	left: 689px;
}

#u2530
{
	width: 113px;
	padding-bottom: 26px;
}

#u2523.MuseMenuActive,#u2530:hover
{
	margin: 0px;
}

#u2530:active
{
	margin: 0px;
}

#u2530.MuseMenuActive
{
	margin: 0px;
}

#u2531-4
{
	width: 90px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2523.MuseMenuActive #u2526-4,#u2530:hover #u2531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2530:active #u2531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2530.MuseMenuActive #u2531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2533
{
	z-index: 65;
	width: 23px;
	height: 21px;
	background-image: url("../images/triangulo2-u2495-fr.png");
	margin-right: -10000px;
	top: 13px;
	left: 90px;
}

#u2523.MuseMenuActive #u2525,#u2530:hover #u2533
{
	margin: 0px -10000px 0px 0px;
}

#u2530:active #u2533
{
	margin: 0px -10000px 0px 0px;
}

#u2530.MuseMenuActive #u2533
{
	margin: 0px -10000px 0px 0px;
}

#u2528
{
	width: 120px;
	top: 47px;
}

#u2529,#u2576
{
	width: 120px;
}

#u2577
{
	width: 118px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u2577:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2577.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2579-4
{
	width: 110px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u3073
{
	z-index: 74;
	width: 68px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 28px;
}

#u3077
{
	z-index: 76;
	width: 68px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 62px;
}

#u3090
{
	z-index: 78;
	width: 104px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 27px;
}

#u3080
{
	z-index: 80;
	width: 50px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 56px;
}

#u3084
{
	z-index: 82;
	width: 55px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 52px;
}

#u3084_clip
{
	width: 55px;
	height: 23px;
}

#u3084_img
{
	margin: -5px -7px -7px;
}

#pu78
{
	width: 0.01px;
	top: -20px;
	margin-bottom: -20px;
	position: relative;
}

#u78
{
	z-index: 84;
	width: 960px;
	margin-right: -10000px;
}

#u2637
{
	z-index: 107;
	width: 834px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 63px;
}

#u4037
{
	z-index: 109;
	width: 875px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 38px;
	margin-top: 29px;
	position: relative;
	padding: 4px 4px 65px;
}

#u4040
{
	z-index: 112;
	width: 875px;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDEDED),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#EDEDED ,#FFFFFF 100%);
	-pie-background: linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u4041-4
{
	z-index: 113;
	width: 164px;
	min-height: 48px;
	color: #7F7F7F;
	font-size: 25px;
	font-family: adamina, serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 66px;
}

#u4038
{
	z-index: 110;
	width: 624px;
	margin-left: 126px;
	margin-top: 60px;
	position: relative;
}

#u2637_img,#u4038_img
{
	vertical-align: top;
}

#u4433
{
	z-index: 117;
	width: 875px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 38px;
	margin-top: 23px;
	position: relative;
	padding: 3px 5px 28.24999999999909px 3px;
}

#u4434
{
	z-index: 118;
	width: 875px;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDEDED),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#EDEDED ,#FFFFFF 100%);
	-pie-background: linear-gradient(top,#EDEDED ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u4435-4
{
	z-index: 119;
	width: 164px;
	min-height: 48px;
	color: #7F7F7F;
	font-size: 25px;
	font-family: adamina, serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 67px;
}

#pu4436
{
	width: 0.01px;
	margin-left: 114px;
	margin-top: 80px;
	position: relative;
}

#u4436
{
	z-index: 123;
	position: relative;
	width: 193px;
	margin-right: -10000px;
}

#u4442-4
{
	z-index: 129;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 10px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#pu4438
{
	width: 0.01px;
	margin-left: 114px;
	margin-top: 23px;
	position: relative;
}

#u4438
{
	z-index: 125;
	position: relative;
	width: 192px;
	margin-right: -10000px;
}

#u4453-4
{
	z-index: 143;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u4440
{
	z-index: 127;
	position: relative;
	width: 192px;
	margin-right: -10000px;
}

#u4454-4
{
	z-index: 147;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#pu4440,#pu4456
{
	width: 0.01px;
	margin-left: 114px;
	margin-top: 33px;
	position: relative;
}

#u4456
{
	z-index: 155;
	position: relative;
	width: 192px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u4455-4
{
	z-index: 151;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#pu4443
{
	width: 0.01px;
	margin-left: 114px;
	margin-top: 35px;
	position: relative;
}

#u4443
{
	z-index: 133;
	position: relative;
	width: 192px;
	margin-right: -10000px;
}

#u4458-4
{
	z-index: 157;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#pu4445
{
	width: 0.01px;
	margin-left: 114px;
	margin-top: 36px;
	position: relative;
}

#u4445
{
	z-index: 135;
	position: relative;
	width: 192px;
	margin-right: -10000px;
}

#u4459-4
{
	z-index: 161;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#pu4447
{
	width: 0.01px;
	margin-left: 116px;
	margin-top: 35px;
	position: relative;
}

#u4447
{
	z-index: 137;
	position: relative;
	width: 190px;
	margin-right: -10000px;
}

#u4460-4
{
	z-index: 165;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#pu4449
{
	width: 0.01px;
	margin-left: 116px;
	margin-top: 36px;
	position: relative;
}

#u4449
{
	z-index: 139;
	position: relative;
	width: 190px;
	margin-right: -10000px;
}

#u4461-4
{
	z-index: 169;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#pu4451
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 35px;
	position: relative;
}

#u4451
{
	z-index: 141;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4462-4
{
	z-index: 173;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#pu4463
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: 36px;
	position: relative;
}

#u4463
{
	z-index: 177;
	position: relative;
	width: 178px;
	margin-right: -10000px;
}

#u4465-4
{
	z-index: 179;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#pu5836
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: 28px;
	position: relative;
}

#u5836
{
	z-index: 283;
	position: relative;
	width: 178px;
	margin-right: -10000px;
}

#u4468-4
{
	z-index: 183;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 236px;
}

#pu5164
{
	width: 0.01px;
	margin-left: 127px;
	margin-top: 38px;
	position: relative;
}

#u5164
{
	z-index: 277;
	position: relative;
	width: 179px;
	margin-right: -10000px;
}

#u5169-4
{
	z-index: 279;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#pu4469
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: 34px;
	position: relative;
}

#u4469
{
	z-index: 187;
	position: relative;
	width: 186px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u4471-4
{
	z-index: 189;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#pu4472
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: 37px;
	position: relative;
}

#u4472
{
	z-index: 193;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4474-4
{
	z-index: 195;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#pu4475
{
	width: 0.01px;
	margin-left: 123px;
	margin-top: 36px;
	position: relative;
}

#u4475
{
	z-index: 199;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4477-4
{
	z-index: 201;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u4478
{
	z-index: 205;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4480-4
{
	z-index: 207;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u4481
{
	z-index: 211;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4483-4
{
	z-index: 213;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u4484
{
	z-index: 217;
	position: relative;
	width: 185px;
	margin-right: -10000px;
}

#u4486-4
{
	z-index: 219;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#pu4478,#pu4481,#pu4484,#pu4487
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 37px;
	position: relative;
}

#u4487
{
	z-index: 223;
	position: relative;
	width: 184px;
	margin-right: -10000px;
}

#u4489-4
{
	z-index: 225;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#pu4490
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 36px;
	position: relative;
}

#u4490
{
	z-index: 229;
	position: relative;
	width: 183px;
	margin-right: -10000px;
}

#u4492-4
{
	z-index: 231;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u4493
{
	z-index: 235;
	position: relative;
	width: 187px;
	margin-right: -10000px;
}

#u4495-4
{
	z-index: 237;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u4496
{
	z-index: 241;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4498-4
{
	z-index: 243;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#pu4493,#pu4496,#pu4499
{
	width: 0.01px;
	margin-left: 122px;
	margin-top: 37px;
	position: relative;
}

#u4499
{
	z-index: 247;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4501-4
{
	z-index: 249;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u4502
{
	z-index: 253;
	position: relative;
	width: 186px;
	margin-right: -10000px;
}

#u4504-4
{
	z-index: 255;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u4505
{
	z-index: 259;
	position: relative;
	width: 188px;
	margin-right: -10000px;
}

#u4507-4
{
	z-index: 261;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#pu4508
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 29px;
	position: relative;
}

#u4508
{
	z-index: 265;
	position: relative;
	width: 188px;
	margin-right: -10000px;
}

#u4510-4
{
	z-index: 267;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#pu4502,#pu4505,#pu4511
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 37px;
	position: relative;
}

#u4511
{
	z-index: 271;
	position: relative;
	width: 188px;
	margin-right: -10000px;
}

#u4436_img,#u4438_img,#u4440_img,#u4456_img,#u4443_img,#u4445_img,#u4447_img,#u4449_img,#u4451_img,#u4463_img,#u5836_img,#u5164_img,#u4469_img,#u4472_img,#u4475_img,#u4478_img,#u4481_img,#u4484_img,#u4487_img,#u4490_img,#u4493_img,#u4496_img,#u4499_img,#u4502_img,#u4505_img,#u4508_img,#u4511_img
{
	display: block;
	vertical-align: top;
}

#u4513-4
{
	z-index: 273;
	width: 461px;
	min-height: 174px;
	text-align: left;
	font-size: 12px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u115
{
	z-index: 86;
	width: 961px;
	height: 7px;
	left: -1px;
	margin-top: 2px;
}

#u119
{
	z-index: 87;
	width: 961px;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
}

#u119_position_content
{
	margin-top: 20px;
	margin-bottom: 15px;
}

#pu148
{
	width: 0.01px;
	margin-left: 730px;
	position: relative;
}

#u148
{
	z-index: 102;
	width: 100px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u153
{
	z-index: 104;
	width: 115px;
	margin-right: -10000px;
	left: 100px;
}

#u5172
{
	z-index: 106;
	width: 260px;
	min-height: 32px;
	margin-left: 735px;
	margin-top: 2px;
}

#u146
{
	z-index: 90;
	width: 960px;
	height: 10px;
	left: -1px;
}

#pu143
{
	width: 0.01px;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u143
{
	z-index: 88;
	width: 961px;
	margin-right: -10000px;
}

#u143_clip
{
	width: 961px;
	height: 100px;
}

#u143_img
{
	margin-bottom: -230px;
}

#u147-11
{
	z-index: 91;
	width: 835px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 69px;
}

body
{
	padding-top: 36px;
	padding-bottom: 196px;
}

